@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800");

// <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


$info-color: #24d3ed;
$secondary-color: #757575;
$muted-color: #5a5a5a;

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Rubik", sans-serif;
}
.text-xlarge {
  font-size: 2.4rem !important;
  line-height: 2.4rem;
}
.text-large {
  font-size: 1.9rem !important;
}
.text-medium {
  font-size: 1.1rem !important;
}
.text-small {
  font-size: 0.8rem !important;
  line-height: 0.9rem;
}

.text-extra-small {
  font-size: 0.6rem;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-extrabold {
  font-weight: 800;
}

.topHeader{
  height: 60px; 
}
.fixedTop{
  top: 60px !important;
  border-bottom: 1px solid #cccccc;
}

.jss1794 {
  width: 100%;
    overflow: hidden;
    position: relative;
    /* background: #fff; */
}

.jss1796 {
  top: -560px;
  left: -40px;
  width: 110%;
  height: 1060px;
  opacity: 0.27;
  position: absolute;
  transform: rotate(-10deg);
  background: #B2EBF2;
  border-radius: 80px;
}

.searchInput{
  margin-top: 8px;
    border: 2px solid #24d3ed;
    border-radius: 21px;
}

.itemCard{
  position: relative;
  background: #ffffff91;
  padding: 10px;
  border-radius: 5px 5px 40px 5px;
  border: 1px solid #24d3ed;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.itemCard:hover{
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.4s;
}

.itemCardImg{
  border-radius: 5px;
  height: 160px;
}
.itemCardImg2{
  width: 300px;
}
.itemCardImgWrapper{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 80%;
  position: absolute;
  right: 4px;
  bottom: 2px;
  border: 3px solid #ffffff;
}
.itemCardText1{
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
.itemCardText2{
  font-weight: 700;
  font-size: 9px;
  margin: 0;
}
.itemCardText3{
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: 1px solid #B2EBF2;
  padding: 0px 5px;
  border-radius: 3px;
}
.ant-btn{
  height: 39px;
}

.itemCard1{
  position: relative;
  background: #ffffff91;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  // border: 1px solid #24d3ed;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.itemCard1:hover{
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.4s;
}
.itemCardImg1{
  border-radius: 5px;
  height: 250px;
}